@media (min-width: 550px){

.container {
	width: 80%;
}
}


#title {
	font-size: 240px;
}
#score, #targetScore {
	font-size: 120px;
	text-align: center;
}

.wrapper {background:transparent url(../images/target.jpeg) no-repeat center center;
height: 100%;}